body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 12px;
}

.items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item {
    flex-basis: calc((100% - 60px) / 3);
    
}

.title {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.genre {

}

.platform {

}

.desc {

}

.img {
    width: 100px;
}
